
.journal__main-content{
    display: flex;
    height: 100vh;
    width: 100%;

}


.journal__sidebar-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}


.journal__entries {
    flex: 1 1 auto;
    max-width: 380px;
  margin-top: 30px;
  overflow-y: scroll;
}

.journal__entry {
    border-radius: 4px;
    overflow-y: hidden;
    justify-content: space-between; 
}

.journal__entry-picture {
  
    height: 80px;
    width: 45px;
}

.journal__entry-body {
    padding: 10px;
    flex: 1;
}
.journal__entry-title{
    font-size: 14px;
    font-weight: bold;
}
.journal__entry-content{
    font-size: 10px;
    overflow-x: hidden;
}

.journal__entry-date-box {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    font-weight: bold;
}

.journal__entry-date-box span {
    font-size: 12px;
}

.journal__container-ghost {
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.1);
     animation-duration: 0.8s;
    animation-name: changeOpacity;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.journal__entry__ghost{
    background-color: gray;
    border-radius: 4px;
    color: $dark-grey;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    overflow: hidden;
   
}

.journal__entry-picture__ghost {
    height: 75px;
    width: 75px;
    background-color: white;
    opacity: 0.8;

}

.journal__entry-body__ghost{
    height: 15px;
    margin-top: 10px;
    background-color: white;
    opacity: 0.8;
}

.journal__entry-date-box_ghost{
    height: 50px;
    width: 10%;
    margin-top: 10px;
    background-color: white;
    opacity: 0.8;
}

.journal__entry-container__ghost{
    height: 15px;
    width: 60%;
}


  @keyframes changeOpacity {
    from {
      opacity: 0.3;
    }
  
    to {
      opacity: 0.1;
    }
  }
  
 