.notes__main-content {
    display: flex;
    flex-direction: column;
    height: 100vh;

}

.notes__appbar {
    align-items: center;
    background-color: $primary;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
}

.notes__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
}

.notes__title-input, .notes__textarea {
 border: none;

 &:focus {
     outline: none;
 }
}

.notes__title-input {
    color: $dark-grey;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.notes__textarea {
    border: none;
    color: $dark-grey;
    font-size: 20px;
    flex: 1 1 auto;
    resize: none;
}
.notes__container {
    display: flex;
    border: 1px dashed $primary;
    border-radius: 10px;
    padding: 10px 0;
    color: $dark-grey;
    font-size: 18px;
    font-weight: 700;
}

.notes__image {
    position: relative;
    transition: .5s ease;
    margin: 0 12px;

    &:hover {
        transform: scale(1.07);
    }

}
.notes__image img {
    box-shadow: 18px 16px 22px -17px rgba(0,0,0,0.3);
    height: 150px;
    cursor: pointer;
    border-radius:5px;
    
}

.notes__close-icon{
    position: absolute;
    top:0;
    right: 0;
    color: lighten(red, $amount: 12);
    background-color: #fff;
    border: transparent;
    border-radius: 50%;

    &:hover {
        cursor: pointer;
    }

}