.notes__main-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}



.notes__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
}

.notes__title-input,
.notes__textarea {
    border: none;

    &:focus {
        outline: none;
    }
}

.notes__title-input {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.notes__textarea {
    font-size: 20px;
    font-weight: 500;
    flex: 1 1 auto;
}

.notes__container {
    overflow: hidden;
    border: 1px dashed $primary;
    border-radius: 10px;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 700;
    
}

 .notes__carrousel{
     position: relative;
     transition: .5s ease;
     margin: 0 12px;
 }

 .notes__imageContainer {
    position: relative;
    width: fit-content;
 }

.notes__imageContainer img {
   
    box-shadow: 18px 16px 22px -17px rgba(0, 0, 0, 0.3);
    height: 150px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 5px;

}

.splide__slide {
    display: flex;
    justify-content: center;
}

.splide__arrow {
    background-color: white;
    opacity: 0.3;
 
}

.notes__close-icon {
    position: absolute;
    top: 0;
    right: 0;
    color: lighten(red, $amount: 12);
    background-color: #fff;
    border: transparent;
    border-radius: 50%;

    &:hover {
        cursor: pointer;
    }

}